.dish{
    padding: 1rem;
    position: relative;
    width: 20vw;
    min-width: 230px;
    text-align: center;
    // height: 400px;
    color: white;
    margin: 0 15px; 
    background: rgba($color: #000000, $alpha: 0.8);
    border-radius: 2vw;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dish .img{
    align-self: center;
    border-radius: 50%;
    text-align: center;
    width: 100%;
    // height: auto;
}
.dish-info .title{
    color: white;
    font-size: 1vw;
}
.dishes_action{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    padding: .5rem 0;
}
.btn{
    background: red;
    border: none;
    color: white;
    font-size: 1rem;
    padding: 10px 0;
    width: 150px;
    opacity: .9;
    cursor: pointer;
}
.btn::after{
    background-image: url('/public/lightening.png');
    background-size: 20px;
}
.cart-btn{
    background: orange;
    font-weight: bold;
    border: 1px solid orange;
    padding: 3% 8%;
    cursor: pointer;
    transition: all .3s ease;
    text-align: center;
    display: flex;
    transition: .5;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.cart-btn:hover{
    background: none;
}