.categories{
    width: 100%;
    padding: 1rem 0;
    background-color: rgba($color: #000000, $alpha: 0.75);
    .sections{
        display: flex;
        justify-content: space-around;
        .selected-section{
            width: 100%;
            display: block;
        }
        .popular_txt{
            display: none;
        }
        .btn{
            background: none;
            width: 150px;
            color: white;
            padding: .5rem .5rem;
            border: 1px solid orange;
            border-radius: 20px;
            font-weight: bold;
            cursor: pointer;
        }
        .btn:hover{
            background: orange;
            transition: .5s;
        }
        .selected{
            background: orange;
            color: black;
            width: 150px;
            font-weight: 900;
            padding: .5rem .5rem;
            border: 1px solid orange;
            border-radius: 20px;
            cursor: pointer;
        }
        .select{
            display: none;
            background: none;
            width: 150px;
            color: white;
            outline: none;
            padding: .5rem .5rem;
            border: 1px solid orange;
            border-radius: 20px;
            font-weight: bold;
            cursor: pointer;
        }
        .select:hover{
            background: orange;
            transition: .5s;
        }
        .select option{
            background: none;
            width: 150px;
            color: white;
            padding: .5rem .5rem;
            border: 1px solid orange;
            border-radius: 20px;
            font-weight: bold;
            cursor: pointer;
        }
        .section{
            width: 0%;
            display: none;
        }
    }
}
@media screen and (max-width: 768px){
    .categories{
        .sections{
            width: 100%;
            justify-content: space-between;
            .popular_txt{
                display: block;
            }
            .btn{
                display: none;
            }
            .selected{
                display: none;
            }
            .select{
                display: block;
                float: right;
            }
        }
    }
}