.home-body-info{
    color: white;
    margin: 6em auto 5em;
    width: 60%;
    display: flex;
    
}
.home-body-info img{
    animation: spin 4s linear infinite;
}
.home-body-info h1{
    font-size: 3rem;
}
.dishes-section{
    /* border-top:1px solid #ccc; */
    padding: .5rem;
    /* background-color: #f5f5f5; */
}
.dishes-section h1{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}
.dishes-container{
    padding: 2rem 0;
    display: flex;
    /* justify-content: center; */
    overflow-x: auto;
    align-items: center;
    flex-wrap: nowrap;
}
.dish img{
    position: absolute;
    width: 100%;
    align-self: center;
    height: 70%;
    border-radius: inherit;
    text-align: center;
}
/* spin an image infinitely */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.dish-info{
    width: 100%;
    margin: 10px 0;
    position: absolute;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    z-index: 1;
}
.dish-info .title{
    color: white;
}
.dishes_action{
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    border-top: 1px solid #ccc;
}
.btn{
    background: red;
    border: none;
    color: white;
    font-size: 1rem;
    padding: 10px 0;
    width: 150px;
    opacity: .9;
    cursor: pointer;
}
.btn::after{
    background-image: url('/public/lightening.png');
    background-size: 20px;
}
.cart-btn{
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: .5rem 1rem;
    cursor: pointer;
    transition: all .3s ease;
    text-align: center;
    margin: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 820px) {
    .home-body-info{
        flex-direction: column;
    }
}